
<div class="row col-12">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src= "../../../assets/286169460_435346948424370_4520080934628626697_n.jpg" class="img-fluid " id="fotodeperfil">

    </div>
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <p id="nombre">Laureano Farias</p>
    <p>Full Stack Developer JR</p>
</div>
<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
        <h1>ACERCA DE MÍ</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Tempore omnis accusamus culpa optio nisi quisquam reprehenderit fugit incidunt magni, 
            voluptas rerum suscipit ab dignissimos delectus
             est iure pariatur repellat atque.</p>
    </span>
</div>
</div>
