@media (max-width:901px){


    h1, H3{
        display: inline;
        
    }
    
    h1{
        padding-bottom: 20px;
    }
    
    ul{
        margin-left: 50px;
        text-decoration: none;
        list-style: none;
    }
    
    .row:hover{
        box-shadow: 3px 3px 30px navy;
        transition: 1s;
    }
    
    .row{
        padding: 20px;
        margin-top: 20px;
        width: 100%;
        overflow: hidden;
     border-radius: 30px;
     background: rgba(21, 130, 219, 0.445);
     box-shadow: 15px 15px 30px #2d6686,
                 -15px -15px 30px #0e2f6b65;
                 justify-content: center;
                 margin-bottom: 20PX;
                 justify-content: center;
                 align-items: center;
                 float:none;
                 margin-left: 0px;
    }
}




@media (min-width:902px){
.row {
    width: 400px;
    height: 70px;
    padding: 0.5rem;
    background: linear-gradient(rgba(21, 130, 219, 0.445), rgb(14, 13, 13));
    border-radius: 8px;
    backdrop-filter: blur(5px);
    border-bottom: 3px solid rgba(255, 255, 255, 0.440);
    border-left: 2px  rgba(255, 255, 255, 0.545) outset;
    box-shadow: -40px 50px 30px rgba(0, 0, 0, 0.280);
    transform: skewX(10deg);
    transition: .4s;
    overflow: hidden;
    color: white;
    float: right;

  }
  
  .row:hover {
    height: 100%;
    transform: skew(0deg);
    overflow: hidden;
    display: block;
    width: 100%;
  }
  
  #align {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-self: flex-start;
  }

  
  .row {
    text-align: center;
    margin: 1.3rem;
    color: rgb(218, 244, 237);
    text-shadow: -10px 5px 10px rgba(0, 0, 0, 0.573);
  }

  h1, H3{
    display: inline;
    
}
}