<div class="row">
<h1>PROYECTOS REALIZADOS</h1>

<div class="contenedor">
<div class="col-sm-12 col-md-7 col-lg-7 parte1">
    <h1>Proyecto 1</h1>
    <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Vel delectus est eius saepe magni fugiat molestiae rem, 
        praesentium repellat harum tempore aspernatur facilis ullam? 
        Deserunt deleniti eaque quibusdam impedit aspernatur.</P>
</div>
<div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
    <img src="../../../assets/imagensinnada.png" class="img-fluid img-proyecto">
</div>
</div>

</div>