.exp-edu{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0%;
}

@media (max-width:902px){
    .exp-edu{
display: flex;
flex-direction: column;

    }

}
