
<div class="row">
    <h1>Hard & Soft skills</h1>
    <div class="j">
    <div class="col-lg-2" >
        <button type="button" routerLink="/newskill" class="btn btn-light" *ngIf="isLogged">Nueva Skill</button>
    </div>


    <div class="text-center col-sm-4 col-md-4 col-lg-4 circulo" *ngFor="let skill of skill" style="color: rgb(115, 255, 0);" >
        <circle-progress 
        [percent]="(skill.porcentaje)" 
        [radius]="100" [imageSrc]="''" 
        [title]="(skill.nombre)"
        [titleColor]="'#212F3C'"
        [showTitle]="true" 
        [showImage]="false" 
        [showUnits]="false"
        [imageHeight]="50"
        [imageWidth]="50"
        [titleColor]="'rgb(255, 255, 255)'"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'rgb(115, 255, 0)'"
        [innerStrokeColor]="'#FFFFFF'"
        [animation]="true"
        [animationDuration]="800">
        </circle-progress>

        <div>
            <td *ngIf="isLogged" style="color: aliceblue;">
                <button class="btn btn-light"  routerLink="/editskill/{{skill.id}}">
                    <i class="bi bi-pencil-fill"></i></button>
            </td>
            <td *ngIf="isLogged" style="color: aliceblue;">
                <button class="btn btn-danger" (click)="delete(skill.id)">
                    <i class="bi bi-trash-fill"></i></button>
            </td>
        </div>
        
    </div>
</div>
</div>