.row{
    text-align: center;
    width: 100%;
  border-radius: 30px;
  box-shadow: 10px 15px 10px #d4d4d441,
             -10px -15px 30px #ffffff4f;
             background-color: rgb(2, 2, 2);
             margin-top: 50px;
             

             
}

h1{
    color: rgb(255, 255, 255);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: 1px 1px 1px  white;
    
}


.circulo{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button{
    margin-top: 20px;
    margin-bottom: 20px;
}

