<nav class="navbar navbar-expand-lg bg-black">
  <div class="container-fluid bg-black">
    <a class="navbar-brand" href="#"><img src="../../../assets/APLogo.png" width="200px"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse bg-black" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 bg-black">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#" 
          style="color: rgb(255, 255, 255);" >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" 
          style="color: rgb(255, 255, 255);" >Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" 
          style="color: rgb(255, 255, 255);" href="#"  >Disabled</a>
        </li>
      </ul>
      <app-sociales class="sociales"></app-sociales>
      <button class="btn btn-outline-success" type="submit">INGRESO</button>
    </div>
  </div>
</nav>