
.row{
width: 100%;
border: 1px solid rgba(255, 255, 255, 0.13);
padding: 10px;
}


div{

    text-align: center;
    background-color: rgba(0, 0, 0, 0.158);
    margin: 0%;
    box-shadow: 200px solid rgba(255, 255, 255, 0.397);
    
}


/*ESTILO FOTO*/

@media (min-width:902px){
    #fotodeperfil{
      
      
        border-radius: 100%;
        box-shadow: 3px 3px 3px rgba(37, 37, 37, 0.555);
       
        
    }

    .descripcion{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #nombre{
        font-weight: bold;
        margin-top: 30%;
        font-size: 27px;
        color: rgb(252, 252, 252);
    }
}

@media (max-width:901px){
    #fotodeperfil{
        width: 30%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px rgb(255, 255, 255);
        left: 30%;
        top: 500px;
    }

#nombre{
    font-weight: bold;
    margin-top: 0%;
    font-size: 27px;
    color: rgb(252, 252, 252);
}
}

h1, h3, p{
    color: rgb(248, 248, 248);
}