<div class="row col-12">
  <h1>HARD AND SOFT SKILLS</h1>
<div class="col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="85"
  [radius]="100"
  [title]="'HTML'"
  [imageSrc]="'../../../assets/HTML5.png'"
  [showImage]="true"
  [showUnits]="false"
  [imageHeight]="50"
  [imageWidth]="50"
  [titleColor]="'red'"
  [showSubtitle]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="800"
></circle-progress>
</div>
<div class="col-sm-4 col-md-4 col-lg-4">
  <circle-progress
[percent]="85"
[radius]="100"
[title]="'HTML'"
[imageSrc]="'../../../assets/HTML5.png'"
[showImage]="true"
[showUnits]="false"
[imageHeight]="50"
[imageWidth]="50"
[titleColor]="'red'"
[showSubtitle]="false"
[outerStrokeWidth]="16"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#78C000'"
[innerStrokeColor]="'#C7E596'"
[animation]="true"
[animationDuration]="800"
></circle-progress>
</div>
<div class="col-sm-4 col-md-4 col-lg-4">
  <circle-progress
[percent]="85"
[radius]="100"
[title]="'HTML'"
[imageSrc]="'../../../assets/HTML5.png'"
[showImage]="true"
[showUnits]="false"
[imageHeight]="50"
[imageWidth]="50"
[titleColor]="'red'"
[showSubtitle]="false"
[outerStrokeWidth]="16"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#78C000'"
[innerStrokeColor]="'#C7E596'"
[animation]="true"
[animationDuration]="800"
></circle-progress>
</div>
<div class="col-sm-4 col-md-4 col-lg-4">
  <circle-progress
[percent]="85"
[radius]="100"
[title]="'HTML'"
[imageSrc]="'../../../assets/HTML5.png'"
[showImage]="true"
[showUnits]="false"
[imageHeight]="50"
[imageWidth]="50"
[titleColor]="'red'"
[showSubtitle]="false"
[outerStrokeWidth]="16"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#78C000'"
[innerStrokeColor]="'#C7E596'"
[animation]="true"
[animationDuration]="800"
></circle-progress>
</div>
<div class="col-sm-4 col-md-4 col-lg-4">
  <circle-progress
[percent]="85"
[radius]="100"
[title]="'HTML'"
[imageSrc]="'../../../assets/HTML5.png'"
[showImage]="true"
[showUnits]="false"
[imageHeight]="50"
[imageWidth]="50"
[titleColor]="'red'"
[showSubtitle]="false"
[outerStrokeWidth]="16"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#78C000'"
[innerStrokeColor]="'#C7E596'"
[animation]="true"
[animationDuration]="800"
></circle-progress>
</div>
<div class="col-sm-4 col-md-4 col-lg-4">
  <circle-progress
[percent]="85"
[radius]="100"
[title]="'HTML'"
[imageSrc]="'../../../assets/HTML5.png'"
[showImage]="true"
[showUnits]="false"
[imageHeight]="50"
[imageWidth]="50"
[titleColor]="'red'"
[showSubtitle]="false"
[outerStrokeWidth]="16"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#78C000'"
[innerStrokeColor]="'#C7E596'"
[animation]="true"
[animationDuration]="800"
></circle-progress>
</div>
</div>
